@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.mainDiv{
    /* width: 600px; */
}
#head1{
    /* background-color: pink; */
    color:brown;
    /* width: 100vw; */
    height: 8vh;
    /* margin:20px 50px 100px 200px; */
    /* padding: 50px 100px 200px 400px; */
    /* margin-left: 100px; */
    border-radius: 15px 30px 5px 0px;
    text-align: right;
    /* border-width: 5px;
    border-color: black;
    border-style: solid; */
    /* border: 5px dotted rgba(38, 159, 14, 0.635); */
}
#head2{
    background-color: black;
}
.head1{
    /* background-color: yellow; */
}

span{
    float: right;
}


.box{
    height: 100px;
    /* background-color: red; */
    border: 1px solid rebeccapurple;
    /* background-image: url(../download.jpg);
    background-repeat: no-repeat;
     background-size: cover; 
    background-size: contain;
    background-position: right; */
    /* background: url("../download.jpg") no-repeat; */
    background: linear-gradient(#2d1717, #5757b991, #032903ab);
}

.text{
    font-size: 4em;
    font-weight: 500;
    font-style: italic;
    font-family: "Poppins", sans-serif;
    /* letter-spacing: 65px; */
    word-break: break-all;
    text-align: right;
    text-transform: uppercase;
    text-decoration: line-through;
}
p{
    line-height: 50px;
    word-spacing: 20px;
    
}